
#kamal{
    color: blue;
}

.kishore{
    background-color: aquamarine;
}

#email{
    
    background-color: red;
}

#github{
    background-color: green;
}

#portfolio{
    background-color: yellow;
}
/*
header{ text-align: center;}

section{
    text-align: center;
}*/